@import url(droparea.css);

input, textarea, select {
  /* Remove o estilo padrao dos elementos */
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-default);

  padding: .75rem 1rem;

  font: var(--font-family);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);

  /* Aplicando o displayblock para poder usar o margin-bottom e dar uma espaçamento entre o label e input */
  display: block;
  margin-bottom: .25rem;
}

input:focus,
select:focus,
textarea:focus {

  /* O outline é a borda ao clicar dentro de um campo */
  outline: .25rem solid var(--surface-secondary);
  border: .125rem solid var(--stroke-highlight);
  /* Faz com que a borda apareça no safari */
  outline-offset: .1px;
}

/* Aplicando o icone de calendario no input */
input[type="date"] {
  position: relative;
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../../assets/icons/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;

    top: 50%;
    transform: translateY(-50%);
  }
}

select {
  background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - .5rem);
}